![Two data scientists working on a dashboard.](hr-image-small.png)

A common problem when creating models to generate business value from data is that the datasets can be so large that it can take days for the model to generate predictions. Ensuring that your dataset is stored as efficiently as possible is crucial for allowing these models to run on a more reasonable timescale without having to reduce the size of the dataset.

You've been hired by a major online data science training provider called *Training Data Ltd.* to clean up one of their largest customer datasets. This dataset will eventually be used to predict whether their students are looking for a new job or not, information that they will then use to direct them to prospective recruiters.

You've been given access to `customer_train.csv`, which is a subset of their entire customer dataset, so you can create a proof-of-concept of a much more efficient storage solution. The dataset contains anonymized student information, and whether they were looking for a new job or not during training:

| Column                   | Description                                                                      |
|------------------------- |--------------------------------------------------------------------------------- |
| `student_id`             | A unique ID for each student.                                                    |
| `city`                   | A code for the city the student lives in.                                        |
| `city_development_index` | A scaled development index for the city.                                         |
| `gender`                 | The student's gender.                                                            |
| `relevant_experience`    | An indicator of the student's work relevant experience.                          |
| `enrolled_university`    | The type of university course enrolled in (if any).                              |
| `education_level`        | The student's education level.                                                   |
| `major_discipline`       | The educational discipline of the student.                                       |
| `experience`             | The student's total work experience (in years).                                  |
| `company_size`           | The number of employees at the student's current employer.                       |
| `company_type`           | The type of company employing the student.                                       |
| `last_new_job`           | The number of years between the student's current and previous jobs.             |
| `training_hours`         | The number of hours of training completed.                                       |
| `job_change`             | An indicator of whether the student is looking for a new job (`1`) or not (`0`). |

In [293]:
# Import necessary libraries
import pandas as pd

# Load the dataset
ds_jobs = pd.read_csv("customer_train.csv")

# View the dataset
ds_jobs.head()
# Create a copy of ds_jobs for transforming
ds_jobs_transformed = ds_jobs.copy()

# Start coding here. Use as many cells as you like!

In [294]:
ds_jobs_transformed['last_new_job'].value_counts()

1        8040
>4       3290
2        2900
never    2452
4        1029
3        1024
Name: last_new_job, dtype: int64

In [295]:
must_ordinal = 'experience company_size last_new_job'.split()
ds_jobs_transformed[must_ordinal].head(2)

  experience company_size last_new_job
0        >20          NaN            1
1         15        50-99           >4

In [296]:
must_bool = 'gender relevant_experience job_change'.split()
ds_jobs_transformed[must_bool].head(2)

  gender      relevant_experience  job_change
0   Male  Has relevant experience         1.0
1   Male   No relevant experience         0.0

In [297]:
must_cat = 'city enrolled_university education_level major_discipline company_type'.split()
ds_jobs_transformed[must_cat].head(2)

       city enrolled_university education_level major_discipline company_type
0  city_103       no_enrollment        Graduate             STEM          NaN
1   city_40       no_enrollment        Graduate             STEM      Pvt Ltd

In [298]:
ds_jobs_transformed.isna().sum()

student_id                   0
city                         0
city_development_index       0
gender                    4508
relevant_experience          0
enrolled_university        386
education_level            460
major_discipline          2813
experience                  65
company_size              5938
company_type              6140
last_new_job               423
training_hours               0
job_change                   0
dtype: int64

In [299]:
ds_jobs_transformed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   student_id              19158 non-null  int64
 1   city                    19158 non-null  object
 2   city_development_index  19158 non-null  float64
 3   gender                  14650 non-null  object
 4   relevant_experience     19158 non-null  object
 5   enrolled_university     18772 non-null  object
 6   education_level         18698 non-null  object
 7   major_discipline        16345 non-null  object
 8   experience              19093 non-null  object
 9   company_size            13220 non-null  object
 10  company_type            13018 non-null  object
 11  last_new_job            18735 non-null  object
 12  training_hours          19158 non-null  int64
 13  job_change              19158 non-null  float64
dtypes: float64(2), int64(2), object(10)
memory usage: 2.0+ MB

In [300]:
non_numerical = must_bool + must_cat + must_ordinal
non_numerical

['gender',
 'relevant_experience',
 'job_change',
 'city',
 'enrolled_university',
 'education_level',
 'major_discipline',
 'company_type',
 'experience',
 'company_size',
 'last_new_job']

In [301]:
other = ds_jobs_transformed.columns[~ds_jobs_transformed.columns.isin(non_numerical)]
other

Index(['student_id', 'city_development_index', 'training_hours'], dtype='object')

In [302]:
ds_jobs_transformed[other].tail()

       student_id  city_development_index  training_hours
19153        7386                   0.878              42
19154       31398                   0.920              52
19155       24576                   0.920              44
19156        5756                   0.802              97
19157       23834                   0.855             127

In [303]:
ds_jobs_transformed['student_id'] = ds_jobs_transformed['student_id'].astype('int32')
ds_jobs_transformed['training_hours'] = ds_jobs_transformed['training_hours'].astype('int32')

In [304]:
ds_jobs_transformed['city_development_index'] = ds_jobs_transformed['city_development_index'].astype('float16')

In [305]:
ds_jobs_transformed['gender'] = ds_jobs_transformed['gender'].astype('category')

In [306]:
ds_jobs_transformed['relevant_experience'].value_counts().index

Index(['Has relevant experience', 'No relevant experience'], dtype='object')

In [307]:
ds_jobs_transformed['relevant_experience'] = ds_jobs_transformed['relevant_experience'].map({'Has relevant experience':True,
                                               'No relevant experience':False})

In [308]:
ds_jobs_transformed['relevant_experience'] = ds_jobs_transformed['relevant_experience'].astype('bool')
ds_jobs_transformed['relevant_experience'].value_counts()

True     13792
False     5366
Name: relevant_experience, dtype: int64

In [309]:
ds_jobs_transformed['job_change'] = ds_jobs_transformed['job_change'].astype('bool')
ds_jobs_transformed['job_change'].value_counts()

False    14381
True      4777
Name: job_change, dtype: int64

In [310]:
for cat in must_cat:
    ds_jobs_transformed[cat] = ds_jobs_transformed[cat].astype('category')

In [311]:
import numpy as np
exp = list(np.arange(1,21))
exp = list(map(lambda x: str(x),exp))
beg = ['<1']
end = ['>20']

In [312]:
total = beg + exp + end 
total

['<1',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '>20']

In [313]:
ds_jobs_transformed['experience'] = ds_jobs_transformed['experience'].astype(pd.CategoricalDtype(total, ordered = True))

In [314]:
edu = ['Primary School','High School','Graduate','Masters','Phd']
ds_jobs_transformed['education_level'] = ds_jobs_transformed['education_level'].astype(pd.CategoricalDtype(edu, ordered = True))

In [315]:
ds_jobs_transformed['enrolled_university'].unique()

['no_enrollment', 'Full time course', NaN, 'Part time course']
Categories (3, object): ['Full time course', 'Part time course', 'no_enrollment']

In [316]:
enroll = ['no_enrollment','Part time course','Full time course']
ds_jobs_transformed['enrolled_university'] = ds_jobs_transformed['enrolled_university'].astype(pd.CategoricalDtype(enroll, ordered = True))

In [317]:
cat = ['city',
 'major_discipline',
 'company_type']
for i in cat:
    ds_jobs_transformed[i].astype('category')

In [318]:
ds_jobs_transformed.head()

   student_id      city  ...  training_hours job_change
0        8949  city_103  ...              36       True
1       29725   city_40  ...              47      False
2       11561   city_21  ...              83      False
3       33241  city_115  ...              52       True
4         666  city_162  ...               8      False

[5 rows x 14 columns]

In [319]:
ds_jobs_transformed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   student_id              19158 non-null  int32
 1   city                    19158 non-null  category
 2   city_development_index  19158 non-null  float16
 3   gender                  14650 non-null  category
 4   relevant_experience     19158 non-null  bool
 5   enrolled_university     18772 non-null  category
 6   education_level         18698 non-null  category
 7   major_discipline        16345 non-null  category
 8   experience              19093 non-null  category
 9   company_size            13220 non-null  object
 10  company_type            13018 non-null  category
 11  last_new_job            18735 non-null  object
 12  training_hours          19158 non-null  int32
 13  job_change              19158 non-null  bool
dtypes: bool(2), category(7), float16(1), int32(2), object(2)
memory usage: 661.6+ KB

In [320]:
ds_jobs_transformed['last_new_job'].unique()
last = 'never 1 2 3 4 >4'.split()
ds_jobs_transformed['last_new_job'] = ds_jobs_transformed['last_new_job'].astype(pd.CategoricalDtype(last, ordered=True))

In [321]:
ds_jobs_transformed['company_size'].unique()
order = '<10 10-49 50-99 100-499 500-999 1000-4999 5000-9999 10000+'.split()
ds_jobs_transformed['company_size'] = ds_jobs_transformed['company_size'].astype(pd.CategoricalDtype(order, ordered=True))

In [322]:
ds_jobs_transformed.head()

   student_id      city  ...  training_hours job_change
0        8949  city_103  ...              36       True
1       29725   city_40  ...              47      False
2       11561   city_21  ...              83      False
3       33241  city_115  ...              52       True
4         666  city_162  ...               8      False

[5 rows x 14 columns]

In [323]:
ds_jobs_transformed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   student_id              19158 non-null  int32
 1   city                    19158 non-null  category
 2   city_development_index  19158 non-null  float16
 3   gender                  14650 non-null  category
 4   relevant_experience     19158 non-null  bool
 5   enrolled_university     18772 non-null  category
 6   education_level         18698 non-null  category
 7   major_discipline        16345 non-null  category
 8   experience              19093 non-null  category
 9   company_size            13220 non-null  category
 10  company_type            13018 non-null  category
 11  last_new_job            18735 non-null  category
 12  training_hours          19158 non-null  int32
 13  job_change              19158 non-null  bool
dtypes: bool(2), category(9), float16(1), int32(2)
memory usage: 400.2 KB

In [324]:
ds_jobs_transformed = ds_jobs_transformed[(ds_jobs_transformed['experience'] >= '10') & (ds_jobs_transformed['company_size'] >= '1000-4999')]

In [325]:
ds_jobs_transformed['company_size'][ds_jobs_transformed['company_size'] >= '1000-4999'].unique()

['10000+', '1000-4999', '5000-9999']
Categories (8, object): ['<10' < '10-49' < '50-99' < '100-499' < '500-999' < '1000-4999' < '5000-9999' < '10000+']

In [326]:
ds_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   student_id              19158 non-null  int64
 1   city                    19158 non-null  object
 2   city_development_index  19158 non-null  float64
 3   gender                  14650 non-null  object
 4   relevant_experience     19158 non-null  object
 5   enrolled_university     18772 non-null  object
 6   education_level         18698 non-null  object
 7   major_discipline        16345 non-null  object
 8   experience              19093 non-null  object
 9   company_size            13220 non-null  object
 10  company_type            13018 non-null  object
 11  last_new_job            18735 non-null  object
 12  training_hours          19158 non-null  int64
 13  job_change              19158 non-null  float64
dtypes: float64(2), int64(2), object(10)
memory usage: 2.0+ MB

In [326]:
#Solution
# Import necessary libraries
import pandas as pd

# Load the dataset and create a copy
ds_jobs = pd.read_csv("customer_train.csv")
ds_jobs_transformed = ds_jobs.copy()

# EDA to help identify ordinal, nominal, and two-factor categories
for col in ds_jobs.select_dtypes("object").columns:
    print(ds_jobs_transformed[col].value_counts(), '\n')

# Create a dictionary of columns containing ordered categorical data
ordered_cats = {
    'enrolled_university': ['no_enrollment', 'Part time course', 'Full time course'],
    'education_level': ['Primary School', 'High School', 'Graduate', 'Masters', 'Phd'],
    'experience': ['<1'] + list(map(str, range(1, 21))) + ['>20'],
    'company_size': ['<10', '10-49', '50-99', '100-499', '500-999', '1000-4999', '5000-9999', '10000+'],
    'last_new_job': ['never', '1', '2', '3', '4', '>4']
}

# Create a mapping dictionary of columns containing two-factor categories to convert to Booleans
two_factor_cats = {
    'relevant_experience': {'No relevant experience': False, 'Has relevant experience': True},
    'job_change': {0.0: False, 1.0: True}
}

# Loop through DataFrame columns to efficiently change data types
for col in ds_jobs_transformed:
    
    # Convert two-factor categories to bool
    if col in ['relevant_experience', 'job_change']:
        ds_jobs_transformed[col] = ds_jobs_transformed[col].map(two_factor_cats[col])
    
    # Convert integer columns to int32
    elif col in ['student_id', 'training_hours']:
        ds_jobs_transformed[col] = ds_jobs_transformed[col].astype('int32')
    
    # Convert float columns to float16
    elif col == 'city_development_index':
        ds_jobs_transformed[col] = ds_jobs_transformed[col].astype('float16')
    
    # Convert columns containing ordered categorical data to ordered categories using dict
    elif col in ordered_cats.keys():
        category = pd.CategoricalDtype(ordered_cats[col], ordered=True)
        ds_jobs_transformed[col] = ds_jobs_transformed[col].astype(category)
    
    # Convert remaining columns to standard categories
    else:
        ds_jobs_transformed[col] = ds_jobs_transformed[col].astype('category')
        
# Filter students with 10 or more years experience at companies with at least 1000 employees
ds_jobs_transformed = ds_jobs_transformed[(ds_jobs_transformed['experience'] >= '10') & (ds_jobs_transformed['company_size'] >= '1000-4999')]